/* style.css
 * This file provides css styles.
 */


/*============Navbar===============*/

.bg-color {
	background: #0f0f0ffb;
}

.navbar-brand {
	color: #02f823;
	font-weight: bold;
	font-size: 35px!important;
	font-family: 'Kaushan Script', cursive;
}

.nav-link {
	font-weight: bold;
	color: #02f823;
	font-size: 20px;
}

.btn-group {
	color: #02f823;
}

.navbar-toggler i {
	color: #02f823;
}

.nav-item {
	color: #02f823;
}


/*====================End of navbar====================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kaushan Script', cursive
}

html {
	font-size: 62.5%;
}

p,
label,
input::placeholder {
	font-size: 1.9rem;
	line-height: 170%;
	color: #fff;
}

figure img,
.fab,
.fas {
	transition: .3s all ease;
}

a,
a:hover {
	text-decoration: none;
	cursor: pointer;
}

body {
	background: hsl(84, 3%, 94%);
}

.main_heading {
	font-weight: bold;
	font-size: 5rem;
	color: #000;
	font-family: 'Kaushan Script', cursive;
}

.main_heading__para {
	font-size: 2.2rem;
	font-family: 'Kaushan Script', cursive;
}

.main_header__div {
	font-family: 'Kaushan Script', cursive;
	height: 60vh;
	width: 100vw;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0)), url('https://www.greener-h2020.eu/CMS/site/images/slide-1.jpg');
	background-size: 100% 100%;
}

.main_header__div p {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 3.5rem;
	color: #fff;
	padding-bottom: 1rem;
	margin-bottom: 0;
}

.main_header__div h2 {
	font-size: 6.5rem;
	font-weight: bold;
	color: #fff;
	padding-bottom: 2rem;
	transition: var(--eff);
}

body,
html {
	font-family: sans-serif;
	background-color: #3b4b54;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: #ffffff;
}

.animateWord div {
	font-family: 'Kaushan Script', cursive;
	overflow: hidden;
	position: relative;
	float: right;
	height: 8rem;
	padding-top: 1rem;
	margin-top: -1rem;
}

.animateWord div li {
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	padding: 0 1rem;
	height: 4.5rem;
	margin-bottom: 4.5rem;
	display: block;
}

.flip {
	-webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
	animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip4 {
	0% {
		margin-top: -360px;
	}
	5% {
		margin-top: -270px;
	}
	25% {
		margin-top: -270px;
	}
	30% {
		margin-top: -180px;
	}
	50% {
		margin-top: -180px;
	}
	55% {
		margin-top: -90px;
	}
	75% {
		margin-top: -90px;
	}
	80% {
		margin-top: 0px;
	}
	99.99% {
		margin-top: 0px;
	}
	100% {
		margin-top: -270px;
	}
}

@keyframes flip4 {
	0% {
		margin-top: -360px;
	}
	5% {
		margin-top: -270px;
	}
	25% {
		margin-top: -270px;
	}
	30% {
		margin-top: -180px;
	}
	50% {
		margin-top: -180px;
	}
	55% {
		margin-top: -90px;
	}
	75% {
		margin-top: -90px;
	}
	80% {
		margin-top: 0px;
	}
	99.99% {
		margin-top: 0px;
	}
	100% {
		margin-top: -270px;
	}
}

.main_header__div button {
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	border-width: 0;
	font-size: 1.5rem;
	transition: var(--eff);
	padding: .8rem 2rem;
	background-color: #02f823;
	border-color: #000;
	outline: none;
	font-weight: bold;
}

.main_header__div button:hover,
figure img:hover,
.left_div__reply:hover,
.left_div__like:hover,
.subs_btn:hover {
	font-family: 'Kaushan Script', cursive;
	transform: translateY(-0.5rem);
	box-shadow: 0 1rem 3rem -1rem rgba(255, 255, 255, 0.7);
}/* style.css
 * This file provides css styles.
 */


/*============Navbar===============*/

.bg-color {
	background: #0f0f0ffb;
}

.navbar-brand {
	color: #02f823;
	font-weight: bold;
	font-size: 35px!important;
	font-family: 'Kaushan Script', cursive;
}

.nav-link {
	font-weight: bold;
	color: #02f823;
	font-size: 20px;
}

.btn-group {
	color: #02f823;
}

.navbar-toggler i {
	color: #02f823;
}

.nav-item {
	color: #02f823;
}


/*====================End of navbar====================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kaushan Script', cursive
}

html {
	font-size: 62.5%;
}
body,
html {
	font-family: sans-serif;
	background-color: #3b4b54;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	color: #ffffff;
}

p,
label,
input::placeholder {
	font-size: 1.9rem;
	line-height: 170%;
	color: #fff;
}

figure img,
.fab,
.fas {
	transition: .3s all ease;
}

a,
a:hover {
	text-decoration: none;
	cursor: pointer;
}

body {
	background: hsl(84, 3%, 94%);
}

.main_heading {
	font-weight: bold;
	font-size: 5rem;
	color: #000;
	font-family: 'Kaushan Script', cursive;
}

.main_heading__para {
	font-size: 2.2rem;
	font-family: 'Kaushan Script', cursive;
	color:#000;
}

.main_header__div {
	
	height: calc(100vh - 40vh);
	width: 100vw;
	font-family: 'Kaushan Script', cursive;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0)), url('https://www.greener-h2020.eu/CMS/site/images/slide-1.jpg');
	background-size: 100% 100%;
}

.main_header__div p {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 3.5rem;
	color: #fff;
	padding-bottom: 1rem;
	margin-bottom: 0;
}

.main_header__div h2 {
	font-size: 6.5rem;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: bold;
	color: #fff;
	padding-bottom: 2rem;
	transition: .3s all ease;
}



.animateWord div {
	font-family: 'Kaushan Script', cursive;
	overflow: hidden;
	position: relative;
	float: right;
	height: 8rem;
	padding-top: 1rem;
	margin-top: -1rem;
}

.animateWord div li {
	font-family: 'Kaushan Script', cursive;
	font-weight: bold;
	padding: 0 1rem;
	height: 4.5rem;
	margin-bottom: 4.5rem;
	display: block;
}

.flip {
	-webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
	animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip4 {
	0% {
		margin-top: -360px;
	}
	5% {
		margin-top: -270px;
	}
	25% {
		margin-top: -270px;
	}
	30% {
		margin-top: -180px;
	}
	50% {
		margin-top: -180px;
	}
	55% {
		margin-top: -90px;
	}
	75% {
		margin-top: -90px;
	}
	80% {
		margin-top: 0px;
	}
	99.99% {
		margin-top: 0px;
	}
	100% {
		margin-top: -270px;
	}
}

@keyframes flip4 {
	0% {
		margin-top: -360px;
	}
	5% {
		margin-top: -270px;
	}
	25% {
		margin-top: -270px;
	}
	30% {
		margin-top: -180px;
	}
	50% {
		margin-top: -180px;
	}
	55% {
		margin-top: -90px;
	}
	75% {
		margin-top: -90px;
	}
	80% {
		margin-top: 0px;
	}
	99.99% {
		margin-top: 0px;
	}
	100% {
		margin-top: -270px;
	}
}

.main_header__div button {
	font-family: 'Kaushan Script', cursive;
	color: #fff;
	border-width: 0;
	font-size: 1.5rem;
	transition: var(--eff);
	padding: .8rem 2rem;
	background-color: #02f823;
	border-color: #000;
	outline: none;
	font-weight: bold;
}

.main_header__div button:hover,
figure img:hover,
.left_div__reply:hover,
.left_div__like:hover,
.subs_btn:hover {
	font-family: 'Kaushan Script', cursive;
	transform: translateY(-0.5rem);
	box-shadow: 0 1rem 3rem -1rem rgba(255, 255, 255, 0.7);
}